.event-item {
    border-radius: 3px;
    padding: 2px 4px;
    color: #333;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rbc-event {
    border-left: 4px solid #e4e4e4 !important;
}

.rbc-event-label {
    color: #1a1a1a !important;
}

.rbc-event:has(.event-item_0) {
    background-color: rgba(26, 229, 14, 0.5) !important;
    border-color: rgba(26, 229, 14, 1) !important;
}

.rbc-event:has(.event-item_1) {
    background-color: rgba(237, 131, 9, 0.5) !important;
    border-color: rgba(237, 131, 9, 1) !important;
}

.rbc-event:has(.event-item_2) {
    background-color: rgba(214, 8, 8, 0.5);
    border-color: rgba(214, 8, 8, 1) !important;
}

.calendar-container {
    width: 100%;
    height: 100%;
}

.match-info__item {
    display: block;
    margin-bottom: 8px;
}

.match__select {
    appearance: none;
    border: none;
    border-radius: 16px;
    padding: 12px 16px;
    background: #76b5e1;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

.match__select_undo {
    background: rgba(214, 8, 8, 1);
}

.match__select_disabled {
    opacity: 0.6;
    cursor: not-allowed;
}